{% extends "home/base.html" %}

{% block title %}<title>StudentBaze - Изменить студента</title>{% endblock %}

{% block navitems %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'facinst-start-redirect' %}" id="nav-link-1">Структура университета</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'eduplanning-start-redirect' %}" id="nav-link-2">Обеспечение учебного процесса</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="{% url 'groups' %}">Управление студентами</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'marks-system-start-redirect' %}">Система оценок</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'rating-start-redirect' %}">Рейтинг</a>
</li>
{% endblock %}

{% block content %} {% load crispy_forms_tags %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">
      <div class="sideBarContent">
        <a  class="active" href="{% url 'groups' %}"><i class="fas fa-users icon"></i>Академические группы</a>
        <a href="{% url 'students' %}"><i class="fas fa-user-graduate icon"></i>Студенты</a>
        <a href="{% url 'academic-performance' %}"><i class="fas fa-check-circle icon"></i>Успеваемость студентов</a>
        <a href="{% url 'semester-group-report' %}"><i class="fas fa-calendar-check icon"></i>Семестровая ведомость</a>
      </div>
    </div>
    <div class="col-md-9 content">
      <h4>{{ instance.last_name }} {{ instance.first_name }} {{ instance.middle_name }}</h4>
      <hr style="margin: 10px 0px 20px;">
      <h6>Редактирование студента</h6>
      <div class="row">
        <div class="col-md-8">
          <form method="post">
            {% csrf_token %} {{ form|crispy }}

            <!-- Modal confirm_edit -->
            <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Подтвердить изменения?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" name="button">Подтвердить</button>
                    <button type="button" class="btn btn-secondary cancelButton" data-dismiss="modal">Отмена</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal delete -->
            <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Удалить студента?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p><strong>ФИО: </strong>{{ instance.last_name }} {{ instance.first_name }} {{ instance.middle_name }}</p>
                    <p><strong>Пол: </strong>{{ instance.sex }}</p>
                    <p><strong>Дата рождения: </strong>{{ instance.date_of_birdth|date:"d/m/Y" }}</p>
                    <p><strong>Академическая группа: </strong>{{ instance.group }}</p>
                    <p><strong>Источник финансирования: </strong>{{ instance.finance_source }}</p>
                  </div>
                  <div class="modal-footer">
                    <a role="button" class="btn btn-danger editButtons" href="/student_management/groups/group_{{ group.id }}_students/delete{{ instance.id }}">Удалить</a>
                    <button type="button" class="btn btn-secondary cancelButton editButtons" data-dismiss="modal" style="margin-left: 10px">Отмена</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-8 col-lg-8 col-xs-12">
        <div class="row justify-content-end">
          <div class="butH" style = "margin-right: 1.5%; margin-top: 5px;">
            <a role="button" class="btn btn-primary editButtons" href="#" data-toggle="modal" data-target="#modalEdit" style="margin-top: 0px;">Изменить</a>
            <a role="button" class="btn btn-danger editButtons" href="#" data-toggle="modal" data-target="#modalDelete" style="margin-top: 0px; margin-left: 10px">Удалить</a>
            <a role="button" class="btn btn-secondary cancelButton editButtons" href="/student_management/groups/group_{{ group.id }}_students/" style="margin-top: 0px; margin-left: 10px">Отменить</a>
            <!--<button class="btn btn-primary" type="submit" name="button" style="margin-top: 36px;">Сохранить изменения</button>-->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script>
  $(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>

<script>
  $(document).ready(function() {
      $('#id_group').select2({
  placeholder: '',
  allowClear: true,
});
  });
</script>

<script>
    $(function () {
      $("#id_date_of_birdth").datepicker({
        format:'dd/mm/yyyy',
      });
    });
  </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
{% endblock %}
