{% extends "home/base.html" %}

{% block title %}<title>StudentBaze - Группы</title>{% endblock %}

 {% block navitems %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'facinst-start-redirect' %}" id="nav-link-1">Структура университета</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'eduplanning-start-redirect' %}" id="nav-link-2">Обеспечение учебного процесса</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="{% url 'groups' %}">Управление студентами</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'marks-system-start-redirect' %}">Система оценок</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'rating-start-redirect' %}">Рейтинг</a>
</li>
{% endblock %} {% block content %} {% load crispy_forms_tags %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">
      <div class="sideBarContent">
        <a class="active" href="{% url 'groups' %}"><i class="fas fa-users icon"></i>Академические группы</a>
        <a href="{% url 'students' %}"><i class="fas fa-user-graduate icon"></i>Студенты</a>
        <a href="{% url 'academic-performance' %}"><i class="fas fa-check-circle icon"></i>Успеваемость студентов</a>
        <a href="{% url 'semester-group-report' %}"><i class="fas fa-calendar-check icon"></i>Семестровая ведомость</a>
      </div>
    </div>
    <div class="col-md-9 content">
      <div class="row">
        <div class="col-md-9">
          <h4>Академические группы</h4>
        </div>
        <div class="col-md-3">
          <button id="hideFormButton" type="button" class="btn btn-light btn-sm hideButton">Только список</button>
        </div>
      </div>

      <hr style="margin: 10px 0px 20px;">
      <div id="formToHide">
      <h6>Создание новой академической группы:</h6>

        <div class="row">
          <div class="col-md-8">
            <form method="post">
              {% csrf_token %} {{ form|crispy }}
          </div>
          <div class="col-md-3">
            <div class="form-group regbutton">
              <button class="btn btn-primary" type="submit" name="button" style="margin-top: 36px;">Создать новую</button>
            </div>
          </div>
          </form>
        </div>
        <hr class="mainHr">
      </div>
      <h6 style=" margin: 10px 0px 15px;">Имеющееся академические группы:</h6>

      <div class="row">
        <div class="col-md-8">
          <form id="search_form" searched_results="#">
            <div class="form-group">
              <input type="text" id="input_groups" class="form-control" onkeyup="groups_search()" placeholder="Поиск академических групп">
            </div>
          </form>
        </div>
        <a role="button" class="btn btn-link clearSearchCross" href="#!" onclick="clearSearchField()"><i class="fas fa-times"></i></a>
      </div>

      <table id="groups_table" class="table table-sm table-bordered">
        <thead class="mythead">
          <tr>
            <th width="5%" class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Название</th>
            <th class="text-center" scope="col">Образовательная программа</th>
            <th width="15%" class="text-center" scope="col">Учебный план</th>
            <th class="text-center" scope="col">Выпускающая кафедра</th>
            <th class="text-center" scope="col">Год старта обучения</th>
            <th width="18%" class="text-center" scope="col" colspan="2">Действие</th>
          </tr>
        </thead>
        <tbody>
          {% for group in groups%}
          <tr>
            <td align="center">{{ forloop.counter }}</td>
            <td align="center">{{ group.name }}</td>
            <td>{{ group.educational_program }}</td>
            <td align="center">{{ group.syllabus.cypher }}</td>
            <td>{{ group.department }}</td>
            <td align="center">{{ group.start_year }}</td>

            <!-- Modal delete -->
            <div class="modal fade" id="modalDelete{{ group.id }}" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Удалить группу?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p><strong>Название: </strong>{{ group.name }}</p>
                    <p><strong>Образовательная программа: </strong>{{ group.educational_program }}</p>
                    <p><strong>Учебный план: </strong>{{ group.syllabus.cypher }}</p>
                    <p><strong>Выпускающая кафедра: </strong>{{ group.department }}</p>
                    <p><strong>Год старта обучения: </strong>{{ group.start_year }}</p>
                  </div>
                  <div class="modal-footer">
                    <a role="button" class="btn btn-danger editButtons" href="/student_management/groups/delete{{ group.id }}">Удалить</a>
                    <button type="button" class="btn  btn-secondary editButtons cancelButton" data-dismiss="modal">Отмена</button>
                  </div>
                </div>
              </div>
            </div>

            <!--<td><a class="" href="/university_structure/departments/delete{{ department.id }}">Удалить</a></td>-->
            <td align="center">
              <a role="button" class="btn btn-primary studentsButton" href="/student_management/groups/group_{{ group.id }}_students/">Студенты</a>
            </td>
            <td align="center">
              <a class="" href="/student_management/groups/edit{{ group.id }}"><i class="fas fa-edit icon"></i></a>
              <a class="" href="#" data-toggle="modal" data-target="#modalDelete{{ group.id }}"><i class="fas fa-trash-alt icon"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %} {% block script %}
<script>
  $(document).ready(function() {
    $("#hideFormButton").click(function() {
      if (document.getElementById("hideFormButton").innerText == "Только список"){
        document.getElementById("hideFormButton").innerText = "Показать форму"
      }
      else{
        document.getElementById("hideFormButton").innerText = "Только список"
      }
      $("#formToHide").toggle();
    });
  });
</script>

<script>
  $(document).ready(function() {
    $('#id_syllabus').select2({
      placeholder: '',
      allowClear: true,
    });
  });
</script>

<script>
  function groups_search() {
    var input, filter, ul, tr, a, i, txtValue;
    input = document.getElementById("input_groups");
    filter = input.value.toUpperCase();
    table = document.getElementById("groups_table");
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {

          td = tr[i].getElementsByTagName("td")[2];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {

              td = tr[i].getElementsByTagName("td")[3];
              if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
                } else {

                  td = tr[i].getElementsByTagName("td")[4];
                  if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                      tr[i].style.display = "";
                    } else {

                      td = tr[i].getElementsByTagName("td")[5];
                      if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                          tr[i].style.display = "";
                        } else {
                          tr[i].style.display = "none";
                        }
                      }
                    }
                  }
                }
              }
            }
          }

        }
      }
    }
  }
</script>
<script>
  function clearSearchField() {
    var input = document.getElementById("input_groups");
    input.value = ""
    tr = document.getElementById("groups_table").getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      tr[i].style.display = "";
    }
  }
</script>
{% endblock script %}
