{% extends "home/base.html" %}

{% block title %}<title>StudentBaze - Изменить оценку ECTS</title>{% endblock %}

{% block navitems %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'facinst-start-redirect' %}" id="nav-link-1">Структура университета</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'eduplanning-start-redirect' %}" id="nav-link-2">Обеспечение учебного процесса</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'groups' %}">Управление студентами</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="{% url 'marks-system-start-redirect' %}">Система оценок</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'rating-start-redirect' %}">Рейтинг</a>
</li>
{% endblock %}

{% block content %} {% load crispy_forms_tags %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">
      <div class="sideBarContent">
        <div class="marks_side_bar">
          <hr class="hr_marks_side_bar">
          <p class="extra_marks_text"><strong>Семестровый контроль</strong></p>
          <div class="upper">
            <a href="{% url 'set-marks-to-group-select' %}"><i class="fas fa-star-half-alt icon"></i>Выставить оценки</a>
            <a href="{% url 'general-marks' %}"><i class="fas fa-tasks icon"></i>Список всех оценок</a>
            <a class="active" href="{% url 'ects-marks' %}"><i class="fas fa-font icon"></i>Оценки ECTS</a>
            <a href="{% url 'national-marks' %}"><i class="fas fa-home icon"></i>Национальные оценки</a>
            <a href="{% url 'educational-years' %}"><i class="far fa-calendar-alt icon"></i>Учебные года</a>
          </div>
          <hr class="hr_marks_side_bar">
          <p class="extra_marks_text"><strong>Доп. баллы</strong></p>
          <div class="upper">
            <a href="{% url 'extra-marks-choose-student' %}"><i class="fas fa-plus-circle icon"></i>Присвоить доп. баллы</a>
            <a href="{% url 'extra-marks-activities' %}"><i class="fas fa-trophy icon"></i>Деятельности и достижения</a>
            <a href="{% url 'extra-marks-activity-categories' %}"><i class="fas fa-th-large icon"></i>Категории деятел. и достиж.</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 content">
      <h4>Оценка ECTS: {{ instance.ects_mark }}</h4>
      <hr style="margin: 10px 0px 20px;">
      <h6>Редактирование оценки</h6>
      <div class="row">
        <div class="col-md-8">
          <form method="post">
            {% csrf_token %} {{ form|crispy }}

            <!-- Modal confirm_edit -->
            <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Подтвердить изменения?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" name="button">Подтвердить</button>
                    <button type="button" class="btn btn-secondary cancelButton" data-dismiss="modal">Отмена</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal delete -->
            <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Удалить оценку ECTS?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p><strong>Оценка: </strong>{{instance.ects_mark}}</p>
                  </div>
                  <div class="modal-footer">
                    <a role="button" class="btn btn-danger editButtons" href="/marks_system/all_ects_marks/delete{{ instance.id }}">Удалить</a>
                    <button type="button" class="btn btn-secondary cancelButton editButtons" data-dismiss="modal" style="margin-left: 10px">Отмена</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-8 col-lg-8 col-xs-12">
        <div class="row justify-content-end">
          <div class="butH" style = "margin-right: 1.5%; margin-top: 5px;">
            <a role="button" class="btn btn-primary editButtons" href="#" data-toggle="modal" data-target="#modalEdit" style="margin-top: 0px;">Изменить</a>
            <a role="button" class="btn btn-danger editButtons" href="#" data-toggle="modal" data-target="#modalDelete" style="margin-top: 0px; margin-left: 10px">Удалить</a>
            <a role="button" class="btn btn-secondary cancelButton editButtons" href="/marks_system/all_ects_marks/" style="margin-top: 0px; margin-left: 10px">Отменить</a>
            <!--<button class="btn btn-primary" type="submit" name="button" style="margin-top: 36px;">Сохранить изменения</button>-->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script>
  $(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>
{% endblock %}
