{% extends "home/base.html" %}

{% block title %}<title>StudentBaze - Присвоение доп. баллов</title>{% endblock %}

{% block navitems %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'facinst-start-redirect' %}" id="nav-link-1">Структура университета</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'eduplanning-start-redirect' %}" id="nav-link-2">Обеспечение учебного процесса</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'groups' %}">Управление студентами</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="{% url 'marks-system-start-redirect' %}">Система оценок</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'rating-start-redirect' %}">Рейтинг</a>
</li>
{% endblock %} {% block content %} {% load crispy_forms_tags %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">
      <div class="sideBarContent">
        <div class="marks_side_bar">
          <hr class="hr_marks_side_bar">
          <p class="extra_marks_text"><strong>Семестровый контроль</strong></p>
          <div class="upper">
            <a href="{% url 'set-marks-to-group-select' %}"><i class="fas fa-star-half-alt icon"></i>Выставить оценки</a>
            <a href="{% url 'general-marks' %}"><i class="fas fa-tasks icon"></i>Список всех оценок</a>
            <a href="{% url 'ects-marks' %}"><i class="fas fa-font icon"></i>Оценки ECTS</a>
            <a href="{% url 'national-marks' %}"><i class="fas fa-home icon"></i>Национальные оценки</a>
            <a href="{% url 'educational-years' %}"><i class="far fa-calendar-alt icon"></i>Учебные года</a>
          </div>
          <hr class="hr_marks_side_bar">
          <p class="extra_marks_text"><strong>Доп. баллы</strong></p>
          <div class="upper">
            <a class="active" href="{% url 'extra-marks-choose-student' %}"><i class="fas fa-plus-circle icon"></i>Присвоить доп. баллы</a>
            <a href="{% url 'extra-marks-activities' %}"><i class="fas fa-trophy icon"></i>Деятельности и достижения</a>
            <a href="{% url 'extra-marks-activity-categories' %}"><i class="fas fa-th-large icon"></i>Категории деятел. и достиж.</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 content">
      <h4>Выбор студента для присвоения доп баллов</h4>
      <hr style="margin: 10px 0px 20px;">

      <h6 style=" margin: 10px 0px 15px;">Имеющееся студенты:</h6>

      <div class="row">
        <div class="col-md-8">
          <form id="search_form" searched_results="#">
            <div class="form-group">
              <input type="text" id="input_students" class="form-control" onkeyup="students_search()" placeholder="Поиск студентов">
            </div>
          </form>
        </div>
        <a role="button" class="btn btn-link clearSearchCross" href="#!" onclick="clearSearchField()"><i class="fas fa-times"></i></a>
      </div>

      <table id="students_table" class="table table-sm table-bordered ">
        <thead class="mythead">
          <tr>
            <th width="5%" class="text-center" scope="col">#</th>
            <th scope="col">ФИО</th>
            <th class="text-center" scope="col">Пол</th>
            <th class="text-center" scope="col">Дата рождения</th>
            <th class="text-center" scope="col">Академ. группа</th>
            <th class="text-center" scope="col">Источник финанс.</th>
            <th width="20%" class="text-center" scope="col">Действие</th>
          </tr>
        </thead>
        <tbody>
          {% for student in students%}
          <tr style="cursor:pointer;" class="hooverable" >
            <td align="center" onclick="show_hide_row('hidden_row{{ forloop.counter }}');">{{ forloop.counter }}</td>
            <td onclick="show_hide_row('hidden_row{{ forloop.counter }}');">{{ student.last_name }} {{ student.first_name }} {{ student.middle_name }}</td>
            <td align="center" onclick="show_hide_row('hidden_row{{ forloop.counter }}');">{{ student.sex.short_name }}</td>
            <td align="center" onclick="show_hide_row('hidden_row{{ forloop.counter }}');">{{ student.date_of_birdth|date:"d/m/Y" }}</td>
            <td align="center" onclick="show_hide_row('hidden_row{{ forloop.counter }}');">{{ student.group }}</td>
            <td align="center" onclick="show_hide_row('hidden_row{{ forloop.counter }}');">{{ student.finance_source }}</td>


            <!--<td><a class="" href="/university_structure/departments/delete{{ department.id }}">Удалить</a></td>-->
            <td align="center">
              <a role="button" class="btn btn-primary selectForExtraMarks" href="/marks_system/extra_marks/set_extra_marks/student{{ student.id }}">Присвоить доп. баллы</a>
            </td>
          </tr>
          {% if student.getExtraMarks %}
          <tr id="hidden_row{{ forloop.counter }}" class="hidden_table_row">
            <td colspan=7>{% for item in student.getExtraMarks %}<p class="tableP"><strong>{{item.semester}} семестр {{item.educational_year}}</strong> - {{item.activity}}</p>{% endfor %}</td>
          </tr>
          {% endif %}
          <tr id="hidden_row{{ forloop.counter }}" class="hidden_table_row">
            <td colspan=7>Дополнительные баллы отстутствуют</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %} {% block script %}
<script>
  $(document).ready(function() {
    $("#hideFormButton").click(function() {
      if (document.getElementById("hideFormButton").innerText == "Спрятать форму") {
        document.getElementById("hideFormButton").innerText = "Показать форму"
      } else {
        document.getElementById("hideFormButton").innerText = "Спрятать форму"
      }
      $("#formToHide").toggle();
    });
  });
</script>

<script>
  $(document).ready(function() {
    $('#id_syllabus').select2({
      placeholder: '',
      allowClear: true,
    });
  });
</script>

<script>
  function students_search() {
    var input, filter, ul, tr, a, i, txtValue;
    input = document.getElementById("input_students");
    filter = input.value.toUpperCase();
    table = document.getElementById("students_table");
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {

          td = tr[i].getElementsByTagName("td")[3];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {

              td = tr[i].getElementsByTagName("td")[4];
              if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
                } else {

                  td = tr[i].getElementsByTagName("td")[5];
                  if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                      tr[i].style.display = "";
                    } else {
                      tr[i].style.display = "none";
                    }
                  }
                }
              }
            }
          }

        }
      }
    }
  }
</script>
<script>
  function clearSearchField() {
    var input = document.getElementById("input_students");
    input.value = ""
    tr = document.getElementById("students_table").getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      tr[i].style.display = "";
    }
  }
</script>

<script type="text/javascript">
  function show_hide_row(row) {
    $("#" + row).toggle();
  }
</script>
{% endblock script %}
