{% extends "home/base.html" %}

{% block title %}<title>StudentBaze - Выставление оценок</title>{% endblock %}

 {% block navitems %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'facinst-start-redirect' %}" id="nav-link-1">Структура университета</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'eduplanning-start-redirect' %}" id="nav-link-2">Обеспечение учебного процесса</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'groups' %}">Управление студентами</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="{% url 'marks-system-start-redirect' %}">Система оценок</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'rating-start-redirect' %}">Рейтинг</a>
</li>
{% endblock %} {% block content %} {% load crispy_forms_tags %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">
      <div class="sideBarContent">
        <div class="marks_side_bar">
          <hr class="hr_marks_side_bar">
          <p class="extra_marks_text"><strong>Семестровый контроль</strong></p>
          <div class="upper">
            <a class="active" href="{% url 'set-marks-to-group-select' %}"><i class="fas fa-star-half-alt icon"></i>Выставить оценки</a>
            <a href="{% url 'general-marks' %}"><i class="fas fa-tasks icon"></i>Список всех оценок</a>
            <a href="{% url 'ects-marks' %}"><i class="fas fa-font icon"></i>Оценки ECTS</a>
            <a href="{% url 'national-marks' %}"><i class="fas fa-home icon"></i>Национальные оценки</a>
            <a href="{% url 'educational-years' %}"><i class="far fa-calendar-alt icon"></i>Учебные года</a>
          </div>
          <hr class="hr_marks_side_bar">
          <p class="extra_marks_text"><strong>Доп. баллы</strong></p>
          <div class="upper">
            <a href="{% url 'extra-marks-choose-student' %}"><i class="fas fa-plus-circle icon"></i>Присвоить доп. баллы</a>
            <a href="{% url 'extra-marks-activities' %}"><i class="fas fa-trophy icon"></i>Деятельности и достижения</a>
            <a href="{% url 'extra-marks-activity-categories' %}"><i class="fas fa-th-large icon"></i>Категории деятел. и достиж.</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 content">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      {% endif %}
      <div class="row">
        <div class="col-md-9">
          <h4>Выставление оценок студентам группы {{ group.name }}</h4>
        </div>
        <div class="col-md-3">
          <a href="/marks_system/set_marks_to_group/group{{ group.id }}" class="buttonBackEdit"><i class="fas fa-arrow-left"></i> Назад</a>
        </div>
      </div>


      <hr style="margin: 10px 0px 20px;">
      <p><strong>Дисциплина:</strong> {{ syllabus_program.subject }}</p>
      <p><strong>Семестр:</strong> {{ syllabus_program.semester }}</p>
      <p><strong>Вид сем. контроля:</strong> {{ syllabus_program.getSemControl }}</p>
      <p><strong>Учебный год:</strong> {{ year }}</p>
      <p><strong>Учебный план:</strong>    <a href="/education_planning/syllabuses/syllabus{{syllabus_program.syllabus.id}}programs">{{ syllabus_program.syllabus.cypher }}</a></p>
      <hr class="mainHr">


      <h6 style=" margin: 10px 0px 15px;">Студенты и их оценки:</h6>

      <div class="row">
        <div class="col-md-8">
          <form id="search_form" searched_results="#">
            <div class="form-group">
              <input type="text" id="input_groups" class="form-control" onkeyup="groups_search()" placeholder="Поиск академических групп">
            </div>
          </form>
        </div>
        <a role="button" class="btn btn-link clearSearchCross" href="#!" onclick="clearSearchField()"><i class="fas fa-times"></i></a>
      </div>

      <table id="groups_table" class="table table-sm table-bordered">
        <thead class="mythead">
          <tr>
            <th width="5%" class="text-center" scope="col">#</th>
            <th scope="col">ФИО</th>
            <th class="text-center" scope="col">Источник финансирования</th>
            <th class="text-center" scope="col">Дата получения оценки</th>
            <th class="text-center" scope="col">Балл</th>
            <th class="text-center" scope="col" colspan="2">Действие</th>
          </tr>
        </thead>
        <tbody>
          {% for student in students%}
          <tr>
            <td align="center">{{ forloop.counter }}</td>
            <td>{{ student.last_name }} {{ student.first_name }} {{ student.middle_name }}</td>
            <td align="center">{{ student.finance_source }}</td>
            <td align="center">{% for mark in marks %} {% if mark.student_id == student.id %} {{ mark.date|date:"d/m/Y" }} {% endif %} {% endfor %} </td>
            <td align="center">{% for mark in marks %} {% if mark.student_id == student.id and mark.po_hvostovke == 1 %} <strong style="color: red;"> {{mark.mark.mark}} </strong> {% elif mark.student_id == student.id %} <strong> {{mark.mark.mark}} </strong> {% endif %} {% endfor %}</td>
            <!--{% for mark in marks %} {% if mark.student_id == student.id %} <td align="center">{{mark.mark.mark}}</td> {% endif %}{% endfor %}-->

            <!-- Modal form -->
            <div class="modal fade" id="modalSetMark{{ student.id }}" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">{{ student.last_name }} {{ student.first_name }} {{ student.middle_name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form method="post">
                  <div class="modal-body">
                      <div class="form-group">
                        {% csrf_token %} {{ form|crispy }}
                      </div>
                  </div>
                  <div class="modal-footer">
                  <button class="btn btn-primary" type="submit" name="buttonStudent{{ student.id }}">Подтвердить</button>
                    <button type="button" class="btn  btn-secondary editButtons cancelButton" data-dismiss="modal">Отмена</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- Modal delete -->
            <div class="modal fade" id="modalDelete{{ student.id }}" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Удалить оценку?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-footer">
                    <a role="button" class="btn btn-danger editButtons" href="/marks_system/set_marks_to_group/group{{ group.id }}/year_{{ year.id }}_program{{ syllabus_program.id }}/delete_mark_student{{ student.id }}">Удалить</a>
                    <button type="button" class="btn  btn-secondary editButtons cancelButton" data-dismiss="modal">Отмена</button>
                  </div>
                </div>
              </div>
            </div>

            <!--<td><a class="" href="/university_structure/departments/delete{{ department.id }}">Удалить</a></td>-->
            <td align="center">
              <a role="button" class="btn btn-primary setMarkButton" href="#" data-toggle="modal" data-target="#modalSetMark{{ student.id }}">Выставить оценку</a>
            </td>
            <td align="center">
              <a class="" href="#" data-toggle="modal" data-target="#modalDelete{{ student.id }}"><i class="fas fa-eraser"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %} {% block script %}

<script>
  function groups_search() {
    var input, filter, ul, tr, a, i, txtValue;
    input = document.getElementById("input_groups");
    filter = input.value.toUpperCase();
    table = document.getElementById("groups_table");
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {

          td = tr[i].getElementsByTagName("td")[2];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {

              td = tr[i].getElementsByTagName("td")[3];
              if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
                } else {

                  td = tr[i].getElementsByTagName("td")[4];
                  if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                      tr[i].style.display = "";
                    } else {

                      td = tr[i].getElementsByTagName("td")[5];
                      if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                          tr[i].style.display = "";
                        } else {
                          tr[i].style.display = "none";
                        }
                      }
                    }
                  }
                }
              }
            }
          }

        }
      }
    }
  }
</script>
<script>
  function clearSearchField() {
    var input = document.getElementById("input_groups");
    input.value = ""
    tr = document.getElementById("groups_table").getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      tr[i].style.display = "";
    }
  }
</script>
{% endblock script %}
