{% extends "home/base.html" %}

{% block title %}<title>StudentBaze - Присвоение доп. баллов</title>{% endblock %}

{% block navitems %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'facinst-start-redirect' %}" id="nav-link-1">Структура университета</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'eduplanning-start-redirect' %}" id="nav-link-2">Обеспечение учебного процесса</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'groups' %}">Управление студентами</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="{% url 'marks-system-start-redirect' %}">Система оценок</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'rating-start-redirect' %}">Рейтинг</a>
</li>
{% endblock %}

{% block content %} {% load crispy_forms_tags %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">
      <div class="sideBarContent">
        <div class="marks_side_bar">
          <hr class="hr_marks_side_bar">
          <p class="extra_marks_text"><strong>Семестровый контроль</strong></p>
          <div class="upper">
            <a href="{% url 'set-marks-to-group-select' %}"><i class="fas fa-star-half-alt icon"></i>Выставить оценки</a>
            <a href="{% url 'general-marks' %}"><i class="fas fa-tasks icon"></i>Список всех оценок</a>
            <a href="{% url 'ects-marks' %}"><i class="fas fa-font icon"></i>Оценки ECTS</a>
            <a href="{% url 'national-marks' %}"><i class="fas fa-home icon"></i>Национальные оценки</a>
            <a href="{% url 'educational-years' %}"><i class="far fa-calendar-alt icon"></i>Учебные года</a>
          </div>
          <hr class="hr_marks_side_bar">
          <p class="extra_marks_text"><strong>Доп. баллы</strong></p>
          <div class="upper">
            <a class="active" href="{% url 'extra-marks-choose-student' %}"><i class="fas fa-plus-circle icon"></i>Присвоить доп. баллы</a>
            <a href="{% url 'extra-marks-activities' %}"><i class="fas fa-trophy icon"></i>Деятельности и достижения</a>
            <a href="{% url 'extra-marks-activity-categories' %}"><i class="fas fa-th-large icon"></i>Категории деятел. и достиж.</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 content">

      <div class="row">
        <div class="col-md-9">
          <h4>Присвоение дополнительных баллов</h4>
        </div>
        <div class="col-md-3">
          <button id="hideFormButton" type="button" class="btn btn-light btn-sm hideButton">Только список</button>
          <a href="/marks_system/extra_marks/set_extra_marks/" class="buttonBack"><i class="fas fa-arrow-left"></i> Назад</a>
        </div>
      </div>


      <hr style="margin: 10px 0px 20px;">
      <p><strong>ФИО: </strong>{{ student.last_name }} {{ student.first_name }} {{ student.middle_name }}</p>
      <p><strong>Академ. группа:</strong> {{ student.group }}</p>
      <p><strong>Источник финансирования:</strong> {{ student.finance_source }}</p>
      <hr class="mainHr1">
      <div id="formToHide">
      <div class="row">
        <div class="col-md-8">
          <form method="post" id="setExtraMarksForm" data-eduyears-url="{% url 'load-edu-years-ajax' %}">
            {% csrf_token %} {{ form|crispy }}
        </div>
        <div class="col-md-3">
          <div class="form-group regbutton">
            <button class="btn btn-primary" type="submit" name="button" style="margin-top: 36px;">Присвоить</button>
          </div>
        </div>
        </form>
      </div>
      </div>
      <h6 style=" margin: 10px 0px 15px;">Уже присвоеные студенту дополнительные баллы:</h6>
      <table class="table table-sm table-bordered">
        <thead class="mythead">
          <tr>
            <th width="10%" class="text-center" scope="col">Семестр</th>
            <th scope="col">Деятельность</th>
            <th width="8%" class="text-center" scope="col">Баллы</th>
            <th width="12%" class="text-center" scope="col">Учебный год</th>
            <th width="10%" class="text-center" scope="col">Действие</th>
          </tr>
        </thead>
        <tbody>
          {% for extra_mark in student_extra_marks%}
          <tr>
            <td align="center" >{{ extra_mark.semester }}</td>
            <td>{{ extra_mark.activity.name }}</td>
            <td align="center" >{{ extra_mark.activity.number_of_extra_marks }}</td>
            <td align="center" >{{ extra_mark.educational_year }}</td>

            <!-- Modal delete -->
            <div class="modal fade" id="modalDelete{{ extra_mark.id }}" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Удалить дополнительные баллы?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p><strong>Студент: </strong>{{ student.last_name }} {{ student.first_name }} {{ student.middle_name }}</p>
                    <p><strong>Семестр: </strong>{{ extra_mark.semester }}</p>
                    <p><strong>Деятельность: </strong>{{ extra_mark.activity.name }}</p>
                    <p><strong>Баллы: </strong>{{ extra_mark.activity.number_of_extra_marks }}</p>
                    <p><strong>Учебный год: </strong>{{ extra_mark.educational_year }}</p>
                  </div>
                  <div class="modal-footer">
                    <a role="button" class="btn btn-danger editButtons" href="/marks_system/extra_marks/set_extra_marks/student{{ student.id }}/delete{{ extra_mark.id }}">Удалить</a>
                    <button type="button" class="btn  btn-secondary editButtons cancelButton" data-dismiss="modal">Отмена</button>
                  </div>
                </div>
              </div>
            </div>

            <!--<td><a class="" href="/university_structure/departments/delete{{ department.id }}">Удалить</a></td>-->
            <td width="10%" align="center">
              <a class="" href="#" data-toggle="modal" data-target="#modalDelete{{ extra_mark.id }}"><i class="fas fa-trash-alt icon"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}

<script>
  $(document).ready(function() {
    $("#hideFormButton").click(function() {
      if (document.getElementById("hideFormButton").innerText == "Только список"){
        document.getElementById("hideFormButton").innerText = "Показать форму"
      }
      else{
        document.getElementById("hideFormButton").innerText = "Только список"
      }
      $("#formToHide").toggle();
    });
  });
</script>

<script>

  $(document).ready(function() {

    var url = $("#setExtraMarksForm").attr("data-eduyears-url");
    var semester = 1
    var group_id = {{ student.group.id }}


    $.ajax({
      url: url,
      data: {
        'semester': semester,
        'group_id': group_id
      },
      success: function (data) {
        //document.getElementById("changable").innerHTML = data;
        $("#id_educational_year").html(data);
      }
    });

  });
</script>

<script>
  $("#id_semester").change(function () {

      var url = $("#setExtraMarksForm").attr("data-eduyears-url");
      var semester = $(this).val();
      var group_id = {{ student.group.id }}

      $.ajax({
        url: url,
        data: {
          'semester': semester,
          'group_id': group_id
        },
        success: function (data) {
          //document.getElementById("changable").innerHTML = data;
          $("#id_educational_year").html(data);
        }
      });

    });
</script>
{% endblock script %}
