{% extends "home/base.html" %}

{% block title %}<title>StudentBaze - Образовательные программы</title>{% endblock %}

{% block navitems %}
<li class="nav-item">
  <a class="nav-link active" href="{% url 'facinst-start-redirect' %}" id="nav-link-1">Структура университета</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'eduplanning-start-redirect' %}" id="nav-link-2">Обеспечение учебного процесса</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'groups' %}">Управление студентами</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'marks-system-start-redirect' %}">Система оценок</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'rating-start-redirect' %}">Рейтинг</a>
</li>
{% endblock %}

{% block content %} {% load crispy_forms_tags %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">
      <div class="sideBarContent">
        <a href="{% url 'faculties-institutes' %}"><i class="fas fa-network-wired icon"></i></i>Факультеты и институты</a>
        <a href="{% url 'departments' %}"><i class="fas fa-university icon"></i>Кафедры</a>
        <!--<hr class="sidebarLine">-->
        <a href="{% url 'specialties' %}"><i class="fas fa-user-tie icon"></i>Специальности</a>
        <a class="active" href="{% url 'edu-programs' %}"><i class="fas fa-chalkboard-teacher icon"></i>Образовательные программы</a>
        <a href="{% url 'edu-levels' %}"><i class="fas fa-graduation-cap icon"></i>Образовательные уровни</a>
        <a href="{% url 'courses' %}"><i class="fas fa-layer-group icon"></i>Курсы</a>
      </div>
    </div>
    <div class="col-md-9 content">
      <div class="row">
        <div class="col-md-9">
          <h4>Образовательные программы</h4>
        </div>
        <div class="col-md-3">
          <button id="hideFormButton" type="button" class="btn btn-light btn-sm hideButton">Только список</button>
        </div>
      </div>


      <hr style="margin: 10px 0px 20px;">

      <div id="formToHide">
      <h6 id="changable">Создание новой образовательной программы:</h6>
      <div class="row">
        <div class="col-md-8">
          <form method="post" id="eudprogForm" data-departments-url="{% url 'ajax-load-departments' %}">
            {% csrf_token %} {{ form|crispy }}
        </div>
        <div class="col-md-3">
          <div class="form-group regbutton">
            <button class="btn btn-primary" type="submit" name="button" style="margin-top: 36px;">Создать новую</button>
          </div>
          </form>
        </div>
      </div>
      <hr class="mainHr">
      </div>
      <h6 style=" margin: 10px 0px 15px;">Имеющееся образовательные программы:</h6>
      <div class="row">
        <div class="col-md-8">
          <form id="search_form" searched_results="#">
            <div class="form-group">
              <input type="text" id="input_eduprograms" class="form-control" onkeyup="eduprograms_search()" placeholder="Поиск образовательных программ">
            </div>
          </form>
        </div>
        <a role="button" class="btn btn-link clearSearchCross" href="#!" onclick="clearSearchField()"><i class="fas fa-times"></i></a>
      </div>
      <table class="table table-sm table-bordered" id="eduprograms_table">
        <thead class="mythead">
          <tr>
            <th width="8%" class="text-center" scope="col">Шифр</th>
            <th scope="col">Название</th>
            <th scope="col">Факультет (институт)</th>
            <th scope="col">Специальность</th>
            <th scope="col">Кафедра</th>
            <th scope="col">Образовательный уровень</th>
            <th width="10%" class="text-center" scope="col">Действие</th>
          </tr>
        </thead>
        <tbody>
          {% for edu_program in edu_programs%}
          <tr>
            <td align="center"><strong>{{ edu_program.cypher }}</strong></td>
            <td>{{ edu_program.name }}</td>
            <td>{{ edu_program.faculty_insitute_specialty.getFacInst }}</td>
            <td>{{ edu_program.faculty_insitute_specialty.getSpecialty }}</td>
            <td>{{ edu_program.department }}</td>
            <td align="center">{{ edu_program.educational_level }}</td>

            <!-- Modal delete-->
            <div class="modal fade" id="modalDelete{{ edu_program.id }}" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Удалить образовательную программу?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p><strong>Название:</strong> {{edu_program.name}}</p>
                    <p><strong>Факультет (институт):</strong> {{edu_program.faculty_insitute_specialty.getFacInst}}</p>
                    <p><strong>Специальность:</strong> {{edu_program.faculty_insitute_specialty.getSpecialty}}</p>
                    <p><strong>Кафедра:</strong> {{edu_program.department}}</p>
                    <p><strong>Образовательный уровень:</strong> {{edu_program.educational_level}}</p>
                  </div>
                  <div class="modal-footer">
                    <a role="button" class="btn btn-danger editButtons" href="/university_structure/educational_programs/delete{{ edu_program.id }}">Удалить</a>
                    <button type="button" class="btn btn-secondary editButtons cancelButton" data-dismiss="modal">Отмена</button>
                  </div>
                </div>
              </div>
            </div>

            <!--<td><a class="" href="/university_structure/faculties_institutes/delete{{ facinst.id }}">Удалить</a></td>-->
            <td width="10%" align="center">
              <a class="" href="/university_structure/educational_programs/edit{{ edu_program.id }}"><i class="fas fa-edit icon"></i></a>
              <a class="" href="#" data-toggle="modal" data-target="#modalDelete{{ edu_program.id }}"><i class="fas fa-trash-alt icon"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script>
  $(document).ready(function() {
    $("#hideFormButton").click(function() {
      if (document.getElementById("hideFormButton").innerText == "Только список"){
        document.getElementById("hideFormButton").innerText = "Показать форму"
      }
      else{
        document.getElementById("hideFormButton").innerText = "Только список"
      }
      $("#formToHide").toggle();
    });
  });
</script>

<script>
  $(document).ready(function() {
      $('#id_faculty_insitute_specialty').select2({
        placeholder: '',
        allowClear: true,
      });
  });

  $(document).ready(function() {
      $('#id_department').select2({
        placeholder: '',
        allowClear: true,
      });
  });

  $("#id_faculty_insitute_specialty").change(function () {

      var url = $("#eudprogForm").attr("data-departments-url");
      var facinstspec_id = $(this).val();

      $.ajax({
        url: url,
        data: {
          'facinstspec_id': facinstspec_id
        },
        success: function (data) {
          //document.getElementById("changable").innerHTML = data;
          $("#id_department").html(data);
        }
      });

    });
</script>

<script>
  function eduprograms_search() {
    var input, filter, ul, tr, a, i, txtValue;
    input = document.getElementById("input_eduprograms");
    filter = input.value.toUpperCase();
    table = document.getElementById("eduprograms_table");
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          td = tr[i].getElementsByTagName("td")[1];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              td = tr[i].getElementsByTagName("td")[2];
              if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
                } else {
                  td = tr[i].getElementsByTagName("td")[3];
                  if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                      tr[i].style.display = "";
                    } else {
                      td = tr[i].getElementsByTagName("td")[4];
                      if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                          tr[i].style.display = "";
                        } else {
                          td = tr[i].getElementsByTagName("td")[5];
                          if (td) {
                            txtValue = td.textContent || td.innerText;
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                              tr[i].style.display = "";
                            } else {
                              tr[i].style.display = "none";
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
</script>
<script>
  function clearSearchField() {
    document.getElementById("input_eduprograms").value = '';
    tr = document.getElementById("eduprograms_table").getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      tr[i].style.display = "";
    }

  }
</script>
{% endblock %}
